<mat-sidenav-container class="sidenav-container">
  <ng-content></ng-content>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="isLogged">
      <a mat-list-item href="/dashboard">Dashboard</a>
      <a mat-list-item href="/timesheet">Timesheet</a>
      <a mat-list-item href="#">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>MyTime</span>
      <span class="spacer"></span>
      <div class="web-layout-toolbar" *ngIf="!(isHandset$ | async)">
        <div *ngIf="isLogged">
          <a [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">Admin</a>
          <mat-menu #menu="matMenu">
            <span (mouseleave)="menuTrigger.closeMenu()">
              <a href="/projects" mat-menu-item>Add/Edit Projects</a>
              <a href="#" mat-menu-item>Review Timesheets</a>
            </span>
          </mat-menu>
          <a href="/dashboard">Dashboard</a>
          <a href="/timesheet">Timesheet</a>
          <a href="/login" (click)="logoutUser()">Logout</a>
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
