<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div class="item profile">
    <div>
      <mat-card>
        <mt-profile-image></mt-profile-image>
        <mt-profile-info></mt-profile-info>
      </mat-card>
    </div>
  </div>
  <div class="item stats">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Stats</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mt-piechart></mt-piechart>
          <mt-piechart></mt-piechart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
