<div class="container" fxLayout fxLayout="column" fxLayoutAlign="space-around center">
  <div class="item title">
    <mat-card-title>Nithin Kuruba</mat-card-title>
    <mat-card-subtitle>Full stack developer</mat-card-subtitle>
  </div>
  <mat-card class="personal-info-container">
    <mat-card-title>Personal Info</mat-card-title>
    <br />
    <div class="item personal-info">
      <div class="personal-info">
        <table>
          <tbody>
            <tr>
              <td class="key">Dob:</td>
              <td class="value">July 4, 1990</td>
            </tr>
            <tr>
              <td class="key">Phone:</td>
              <td class="value">+1-778-922-2702</td>
            </tr>
            <tr>
              <td class="key">Address:</td>
              <td class="value">
                108-1635 Cook Street, Victoria BC V8T 3N9, Canada
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>
</div>
