<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ dateEntry.date }}
        </mat-panel-title>
        <mat-panel-description> Time Entered: {{ dateEntry.hours.toFixed(1) }} </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Comments</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</div>
